{% extends "secure/base.html" %}

{% block maincontent %}

</style>
    <!-- datepicker plugin site:http://jqueryui.com/datepicker/#dropdown-month-year-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#id_date_of_birth").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
    </script>

    <div class="row">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Please fill patient information:</h1>
            </div>
        </div>

        {% if form.errors %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Form Errors:</div>
                        <div class="panel-body">
                            <div class="row">
                                <p style="color: red;">
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            {{ field.html_name }}: {{ error|escape }}
                                            <br>
                                        {% endfor %}
                                    {% endfor %}
                                    {% for error in form.non_field_errors %}
                                            {{ field.html_name }}: {{ error|escape }}
                                        <br>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">Search:</div>
                    <div class="panel-body">

                        <div class="row">

                            <form id="search_form" class="form-horizontal"
                                  action="{% url 'patientinfo:create'  username %}" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.management_form }}

                                {% for field in form %}
                                    <div class="form-group">
                                        <label class="col-md-4 control-label" for="id_firstname">{{ field.label_tag }}</label>

                                        <div class="col-md-4">
                                            {{ field }}
                                        </div>
                                    </div>
                                {% endfor %}

                                <!-- Button -->
                                <div class="form-group">
                                    <label class="col-md-4 control-label" for="search"></label>

                                    <input class="btn btn-success btn-sm" id="search" type="submit" name="submit"
                                           value="Create Patient Information">
                                    <a href="{% url 'patientinfo:index'  username %}"><input
                                            class="btn btn-success btn-sm" value="Cancel"></a>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
