{% extends "secure/base.html" %}


    {% block maincontent%}
  

<div class="container">
  <h1>patient information</h1>
<li><a href="{% url 'patientinfo:create' username %}">Create New Patient Info</a></li>
          
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Feature</th>
      </tr>
    </thead>

    <tbody>
    {% for patientinfo in patientinfos %} 
      <tr>
        <td>{{ patientinfo.firstname }}</td>
        <td>{{ patientinfo.lastname }}</td>
        <td><a href="{% url 'patientinfo:detail' username patientinfo.id %}" class="btn btn-success btn-sm">View Patient detail</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

    {% endblock %}

