{% extends "secure/base.html" %}
{% block maincontent %}

    <!-- datepicker plugin site:http://jqueryui.com/datepicker/#dropdown-month-year-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#id_date_of_birth").datepicker({
                changeMonth: true,
                changeYear: true
            });
        });
    </script>

    <div class="row">

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> patient data:</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Details:</div>
                    <div class="panel-body">

                        <div class="row">


                            <form action="{% url 'patientinfo:update'  username patientinfo.id %}" method="post"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <table>
                                    {{ form.as_table }}
                                </table>

                                <div id="row">
                                    <input type="submit" name="submit" value="Update Patient Info"
                                           class="btn btn-success btn-large">
                                    <a href="{% url 'patientinfo:index'  username %}"
                                               class="btn btn-success btn-large">Cancel</a>
                                </div>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
