{% extends "secure/base.html" %}
    {% load staticfiles %}

    {% block maincontent%}

        <!-- Include jquery Django doesn't inherit scripts -->
        <script type="text/javascript" src="{% static "js/jquery_1_7_2_min.js" %}"/>

        <!--Display chart after search result (temparary)-->
        {% block graph %}
        <button onclick="myFunction()">Display Graph</button>
        <script type = "text/javascript">
        function myFunction() {
            window.open("{% url 'graph:index' username %}", "_blank", "resizable=yes, status =no, left=00,top=300,width=1500, height=400")
        }
        </script>
        {% endblock %}

    <style type="text/css">
        .mygrid-wrapper-div {
           border: solid red 5px;
           overflow: scroll;
           height: 70%;
        }
    </style>

    <!-- Display matrix in a popup window -->
    <script>
    function popupform(myform, windowname) {
        if (! window.focus)
            return true;
        window.open('', windowname, "_blank", 'resizable=yes, status= no, left=100,top= 0, width=400, height=1200')
        myform.target=windowname;
        return true;
     }
    </script>

    <!-- Select All Checkboxes -->
    <script type="text/javascript">
        function selectall(source) {
            checkboxes = document.getElementsByClassName("NACheckbox");
            for (var i= 0, n=checkboxes.length; i< n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }

        function selectallA(source) {
            checkboxes = document.getElementsByClassName("AACheckbox");
            for (var i= 0, n=checkboxes.length; i< n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>

    <h1> This is the details page!!</h1>

       <div class="container" style="padding-left:10px;">
            <h2 class="text-muted">Influenza NA</h2>
            <table class="table table-stripes">
                <thead>
                    <tr>
                        <td>Genbank Accession Number</td>
                        <td>Host</td>
                        <td>Genome Segment</td>
                        <td>Subtype</td>
                        <td>Country</td>
                        <td>Date</td>
                        <td>Length</td>
                        <td>Virus Name</td>
                        <td>Age</td>
                        <td>Gender</td>
                        <td>Complete-ness</td>
                        <td>Nucleotide Sequence</td>
                        <td>Display Matrix <input type="checkbox" id="select_all" onclick="selectall(this)"/></td>
                    </tr>
                </thead>
                <tbody>
                    {% for row in queryEntriesNA %}
                        <tr>
                            <td>{{ row.genbank_accession_number }}</td>
                            <td>{{ row.host }}</td>
                            <td>{{ row.genomesegment_or_proteinname }}</td>
                            <td>{{ row.subtype }}</td>
                            <td>{{ row.country }}</td>
                            <td nowrap>{{ row.date_discovered }}</td>
                            <td>{{ row.sequence_length }}</td>
                            <td>{{ row.virus_name }}</td>
                            <td>{{ row.age }}</td>
                            <td>{{ row.gender }}</td>
                            <td>{{ row.completeness }}</td>
                            <td style="word-wrap: break-word; max-width: 300px;">
                                <div style="overflow-x: hidden; overflow-y: scroll; max-height: 150px;">
                                {{ row.influenza_fna.fasta_nucleotide_description }}
                                </div>
                            </td>
                            <!-- Insert checkbox to select rows to be displayed in matrix -->
                            <form class="form-group" action="{% url 'coc:parse_data' username %}" method="post" onsubmit="popupform(this, 'join')">
                                {% csrf_token %}
                                <td><input class="NACheckbox" type="checkbox" name="displays" value="{{row.genbank_accession_number}}" /></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
       </div>
        <br>
        <hr class="fade"/>
        <div class="container">
            <h2 class="text-muted">Influenza AA</h2>
            <table class="table table-stripes" style="padding-left:10px;">
                <thead>
                    <tr>
                        <td>Genbank Accession Number</td>
                        <td>Host</td>
                        <td>Genome Segment</td>
                        <td>Subtype</td>
                        <td>Country</td>
                        <td nowrap>Date</td>
                        <td>Length</td>
                        <td>Virus Name</td>
                        <td>Age</td>
                        <td>Gender</td>
                        <td>Complete-ness</td>
                        <td>Protein Sequence</td>
                        <td>Display Matrix <input type="checkbox" id="select_all" onclick="selectallA(this)"/></td>
                    </tr>
                </thead>
                <tbody>
                    {% for row in queryEntriesAA %}
                        <tr>
                            <td>{{ row.genbank_accession_number }}</td>
                            <td>{{ row.host }}</td>
                            <td>{{ row.genomesegment_or_proteinname }}</td>
                            <td>{{ row.subtype }}</td>
                            <td>{{ row.country }}</td>
                            <td nowrap>{{ row.date_discovered }}</td>
                            <td>{{ row.sequence_length }}</td>
                            <td>{{ row.virus_name }}</td>
                            <td>{{ row.age }}</td>
                            <td>{{ row.gender }}</td>
                            <td>{{ row.completeness }}</td>
                            <td style="word-wrap: break-word; max-width: 300px;">
                                <div style="overflow-x: hidden; overflow-y: scroll; max-height: 150px;">
                                    {{ row.influenza_faa.fasta_protein_description }}
                                </div>
                            </td>
                            <td><input class="AACheckbox" type="checkbox" name="displays" value="{{row.genbank_accession_number}}" /></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                <div style="text-align:right;">
                    <input class="btn btn-default" type="submit" value="Submit" />
                </div>
            </form>
       </div>
   {% endblock %}