{% extends 'secure/base.html' %}
{% load staticfiles %}

{% block javascript %}
    <script type="application/javascript" src="{% static 'js/PhyloCanvas.js' %}"></script>
    <script type="application/javascript">
      window.onload = function() {
        // Initializing tree object

       var phylocanvas = new PhyloCanvas.Tree('phylocanvasDivDiagonal');
        var newick_file = "../treebuilder/phylocanvas/example.nwk";
        phylocanvas.load(newick_file);
        phylocanvas.setTreeType('diagonal');

        var phylocanvas = new PhyloCanvas.Tree('phylocanvasDivHierarchy');
        var newick_file = "../treebuilder/phylocanvas/example.nwk";
        phylocanvas.load(newick_file);
        phylocanvas.setTreeType('hierarchy');

      }
    </script>
{% endblock %}


{#<!DOCTYPE html>#}
{#<html>#}
{#  <head>#}
{#   <style>#}
{#     center   {color:blue}#}
{#     </style>#}
{#    #}
{#    <script type="application/javascript" src="../../../static/js/PhyloCanvas.js"></script>#}
{#    <script type="application/javascript">#}
{#      window.onload = function() {#}
{#        // Initializing tree object#}
{# #}
{#       var phylocanvas = new PhyloCanvas.Tree('phylocanvasDivDiagonal');#}
{#        var newick_file = "example.nwk";#}
{#        phylocanvas.load(newick_file);#}
{#        phylocanvas.setTreeType('diagonal'); #}
{##}
{#        var phylocanvas = new PhyloCanvas.Tree('phylocanvasDivHierarchy');#}
{#        var newick_file = "example.nwk";#}
{#        phylocanvas.load(newick_file);#}
{#        phylocanvas.setTreeType('hierarchy'); #}
{# #}
{#      }#}
{#    </script>#}
{#  </head>#}
{#  <body>#}


  {% block maincontent %}

    <form action="phyloview2.html">
    <input type="submit" value="Go to radial and rectangular view" style="float: right">
    </form>
    <center> Diagonal Representation <center><br>
    <div id="phylocanvasDivDiagonal"></div><br>
    <center> Hierarchial Representation <center><br>
    <div id="phylocanvasDivHierarchy"></div><br>

{% endblock %}

{#  </body>#}
{#</html>#}
