{% load staticfiles %}

<script>

var
        _window = jQuery(window);
    ;

jQuery(document).ready(function(){

    var
        _window = jQuery(window);
        not_resizes = false;
    ;

    _window.on("resize", function(){
        resizeFunction();
    })
    resizeFunction();

    function resizeFunction(){
        if(!not_resizes){
            var
                newWidth = _window.width()
            ,   marginHalf = _window.width()/-2;
            ;
            if (jQuery('body').hasClass('cherry-fixed-layout')) {
                var
                    newWidth = jQuery('.main-holder').width()
                ,   marginHalf =jQuery('.main-holder').width()/-2;
                ;
            }

            jQuery('.wide').css({width: newWidth, "margin-left": marginHalf, left: '50%'});
        }
    }

    $('.login-toggle').click(function(){
      $('#loginform').slideToggle("mediom");
      $( this ).toggleClass( "active" );
    })
});
</script>
<header class="motopress-wrapper header">
    <div class="container">
        <div class="row">
            <div class="span12" data-motopress-wrapper-file="wrapper/wrapper-header.php" data-motopress-wrapper-type="header" data-motopress-id="55bed0b188a23">
                <div class="stuck_wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="span5" data-motopress-type="static" data-motopress-static-file="static/static-logo.php">
                                <div class="logo pull-left">
                                    <a href="#" class=""><img src="{% static 'pic/rsz_logo.png'%}" alt="NISS" title=""></a>
                                </div>
                            </div>
                            <!-- Register Form -->
                            <div class="span7" data-motopress-type="static" data-motopress-static-file="static/static-nav.php">
                                <div class="login-wrap">
                                    <div class="login-toggle icon-user"></div>
                                    <form name="loginform" id="loginform" action="{% url 'index:verifycredentials' %}" method="post">
                                        {% csrf_token %}
                                        <p class="login-username ">
                                            <label>Username:</label>
                                            <input type="text" name="username" id="log" value="" size="20" tabindex="1" />
                                        </p>
                                        <p class="login-password ">
                                            <label>Password:</label>
                                            <input type="password" name="password" id="pwd" value="" size="20" tabindex="2" />
                                        </p>
                                        <p class="submit">
                                            <input type="submit" name="submit" id="submit" class="btn" value="Login" tabindex="4" />
                                            <a class="btn" href="{% url 'index:register' %}">Register</a>
                                        </p>

                                        <p class="login-remember">
                                            <label>
                                                <input name="rememberme" type="checkbox" id="rememberme" value="forever" tabindex="3" /> Remember password
                                            </label>
                                        </p>
                                    </form>
                                </div>
                                <nav class="nav nav__primary clearfix">
                                    <ul id="topnav" class="sf-menu">
                                        <li id="menu-item-1807" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-203 current_page_item">
                                            <a href="{% url 'index:index' %}">Home</a>
                                        </li>
                                        <li id="menu-item-1810" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                            <a href="#">Public Information</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-1811" class="menu-item menu-item-type-post_type menu-item-object-page">
                                                    <a href="#">New1</a>
                                                </li>
                                                <li id="menu-item-1812" class="menu-item menu-item-type-post_type menu-item-object-page">
                                                    <a href="#">News2</a>
                                                </li>
                                                <li id="menu-item-1805" class="menu-item menu-item-type-post_type menu-item-object-page">
                                                    <a href="#">News3</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-1808" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="#">Services</a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-1815" class="menu-item menu-item-type-post_type menu-item-object-page">
                                                    <a href="#">DAN Search</a>
                                                </li>
                                                <li id="menu-item-1814" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                                    <a href="#">Blast+</a>
                                                </li>
                                                <li id="menu-item-1813" class="menu-item menu-item-type-post_type menu-item-object-page">
                                                    <a href="#">Phylic</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-1804" class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="#">About</a>
                                        </li>
                                        <li id="menu-item-1804" class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="#">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="hidden-phone span12" data-motopress-type="static" data-motopress-static-file="static/static-search.php"></div>
                </div>
            </div>
        </div>
    </div> 



    <script type="text/javascript">
        jQuery(document).ready(function($) {
            if (!device.mobile() && !device.tablet()) {
                liteModeSwitcher = false;
            } else {
                liteModeSwitcher = true;
            }
            if ($.browser.msie && parseInt($.browser.version) < 9) {
                liteModeSwitcher = true;
            }

            jQuery('#parallax-slider').parallaxSlider({
                parallaxEffect: "parallax_effect_normal",
                parallaxInvert: false,
                animateLayout: "simple-fade-eff",
                duration: 1500,
                autoSwitcher: true,
                autoSwitcherDelay: 10000,
                scrolling_description: true,
                slider_navs: true,
                slider_pagination: "none_pagination",
                liteMode: liteModeSwitcher
            });

        });
    </script>
</header>
