{% load staticfiles %}

<script>

var
        _window = jQuery(window);
    ;

jQuery(document).ready(function(){

    var
        _window = jQuery(window);
        not_resizes = false;
    ;

    _window.on("resize", function(){
        resizeFunction();
    })
    resizeFunction();

    function resizeFunction(){
        if(!not_resizes){
            var
                newWidth = _window.width()
            ,   marginHalf = _window.width()/-2;
            ;
            if (jQuery('body').hasClass('cherry-fixed-layout')) {
                var
                    newWidth = jQuery('.main-holder').width()
                ,   marginHalf =jQuery('.main-holder').width()/-2;
                ;
            }

            jQuery('.wide').css({width: newWidth, "margin-left": marginHalf, left: '50%'});
        }
    }

    $('.login-toggle').click(function(){
      $('#loginform').slideToggle("mediom");
      $( this ).toggleClass( "active" );
    })
});
</script>

<header class="motopress-wrapper header">
    <div class="container">
        <div class="row">
            <div class="span12" >
                <div class="stuck_wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="span5">
                                <div class="logo pull-left">
                                    <a href="#" class=""><img src="{% static 'pic/log.png'%}" alt="NISS LOGO" style="margin-top:-10px;height:60px;width:60px;" ></a>
                                </div>
                            </div>
                            <!-- Register Form -->
                            <div class="span7">
                                <div class="login-wrap">
                                    <div class="login-toggle icon-user"></div>
                           <form id="loginform" >
                                           <a  class="btn" href="{% url 'index:login' %}">Login</a>
                                            <a  class="btn" href="{% url 'index:register' %}">Register</a>
<!-- 
                                        <p class="login-remember">
                                            <label>
                                                <input name="rememberme" type="checkbox" id="rememberme" value="forever" tabindex="3" /> Remember password
                                            </label>
                                        </p> -->
                                    </form>
                                </div>
                                <nav class="nav nav__primary clearfix">
                                    <ul id="topnav" class="sf-menu">
                                        <li>
                                            <a href="{% url 'index:index' %}">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">Public Information</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="#">New1</a>
                                                </li>
                                                <li>
                                                    <a href="#">News2</a>
                                                </li>
                                                <li>
                                                    <a href="#">News3</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Services</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="#">DAN Search</a>
                                                </li>
                                                <li>
                                                    <a href="#">Blast+</a>
                                                </li>
                                                <li>
                                                    <a href="#">Phylic</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">About</a>
                                        </li>
                                        <li>
                                            <a href="#">Contact</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</header>


    <script type="text/javascript">
        jQuery(document).ready(function($) {
            if (!device.mobile() && !device.tablet()) {
                liteModeSwitcher = false;
            } else {
                liteModeSwitcher = true;
            }
            if ($.browser.msie && parseInt($.browser.version) < 9) {
                liteModeSwitcher = true;
            }

            jQuery('#parallax-slider').parallaxSlider({
                parallaxEffect: "parallax_effect_normal",
                parallaxInvert: false,
                animateLayout: "simple-fade-eff",
                duration: 1500,
                autoSwitcher: true,
                autoSwitcherDelay: 10000,
                scrolling_description: true,
                slider_navs: true,
                slider_pagination: "none_pagination",
                liteMode: liteModeSwitcher
            });

        });
    </script>

