
<div class="container-fluid">


    <nav class="nnavbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <!-- Brand and toggle -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-3">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">NISS</a>
            </div>


            <div class="collapse navbar-collapse" id="navbar-collapse-3">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'secure:index' username %}" class="">Home</a></li>
                    <li><a href="{% url 'basic_search:index' username %}">Search</a></li>
                    <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Patient Data<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="{% url 'patientinfo:index' username %}">Patient info</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                          </ul>
                    </li>
                    <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blast+<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a href="{% url 'nocoblast:blastn' username %}">Blast N</a></li>
                            <li><a href="{% url 'nocoblast:tblastn' username %}">T Blast N</a></li>
                          </ul>
                    </li>
                    <li><a href="{% url 'phylo:index' username %}">Phylib</a></li>
                    <li><a href="{% url 'index:logout' %}">Logout</a></li>
                    <li>
                        <a class="btn btn-default btn-outline btn-circle"  data-toggle="collapse" href="#nav-collapse4" aria-expanded="false" aria-controls="nav-collapse4">Profile <i class=""></i> </a>
                    </li>
                </ul>

                <ul class="collapse nav navbar-nav nav-collapse navbar-right" role="search" id="nav-collapse4">
                    <li><a href="#">Support</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><img class="img-circle" src="https://en.gravatar.com/userimage/7783599/8282ed6f31d3f35f8e2d7fbd906e57cd.jpg" alt="{{ username }}" width="20" /> {{ username }} <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">My profile</a></li>
                        <li><a href="#">Favorited</a></li>
                        <li><a href="{% url 'userprofile:setprofile' username %}">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'index:logout' %}">Logout</a></li>
                      </ul>
                    </li>
                </ul>
            </div>

        </div>

    </nav>



</div>
