 {% extends "secure/base.html" %}

  {% block maincontent%}
     <h2> Profile</h2>

     {% for field in form %}
        {{field.error}}

     {% endfor %}


    <form action="{% url 'userprofile:setprofile' username %}" method="post" enctype="multipart/form-data"> {% csrf_token %}

    <ul>
    {{form.as_ul}}
    </ul>

    <input type="submit" value="Update" >
    </form>

    <div id="sidebar">
    {% block sidebar %}
    <h2><a href="{% url 'userprofile:viewprofile'  username %}">Cancle</a></h2>
    {% endblock %}
    
</div>
  {% endblock %}
