<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NOSOCOMIAL INFECTIONS SURVEILLANCE SYSTEM</title>

    <!-- Java script -->
    <script type="text/javascript" src="{% static "jquery/dist/jquery.min.js" %}"></script>
    {#    <script src="{% static 'bootstrap-css/js/bootstrap.min.js' %}"></script>#}
    <script type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'metisMenu/dist/metisMenu.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'raphael/raphael-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'morrisjs/morris.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/morris-data.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sb-admin-2.js' %}"></script>

    {% block javascript %}

    {% endblock %}

    <link type="text/css" href="{% static 'css/stickyfooter.css' %}" rel="stylesheet"/>
{#    <link href="{% static 'css/navbarstyle.css' %}" rel="stylesheet"/>#}
    <link type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/timeline.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'css/sb-admin-2.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'morrisjs/morris.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 20px;
        padding-bottom: 40px;

      }

      {% block rawcss %}

      {% endblock %}


    </style>

    <!-- Link your style sheets here in your templates -->
    {% block css %}

    {% endblock %}

</head>
<body>

<div id="wrapper"><!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">

        {% include "secure/navigation.html" %}

    </nav>
</div>

<div id="wrapper"><!-- Main -->
    <div id="page-wrapper">

        <div class="container-fluid">
            {% block maincontent %}
                <!--maincontainer -->
            {% endblock %}
        </div>
    </div>
</div>


<footer class="footer">
      <div class="container">

        {% include "secure/footer.html" %}

      </div>
</footer>


</body>
</html>