<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NOSOCOMIAL INFECTIONS SURVEILLANCE SYSTEM</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      {% block css %}{% endblock %}
    </style>
    <link href="{%  static 'css/stickyfooter.css' %}" rel="stylesheet"/>

</head>
<body>
{% include "secure/menu.html" %}

<div id="wrap">
    <div class="container-fluid">
        {% block maincontent %}
            <p><hr></p>

        {% endblock %}
    </div> <!--maincontainer -->
</div>

{% include "secure/footer.html" %}

</body>
</html>