{% load staticfiles %}
<!-- load js for navigation -->

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <div class="logo pull-left">
        <a href="{% url 'secure:index' username %}" class=""><img src="{% static 'pic/log.png'%}" alt="NISS LOGO" style="margin-top:-10px;height:60px;width:60px;" ></a>
    </div>
    <a class="navbar-brand" href="{% url 'secure:index' username %}">NISS Portal</a>
</div>
<!-- /.navbar-header -->

<ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-alerts">
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-comment fa-fw"></i> New Comment
                        <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                        <span class="pull-right text-muted small">12 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-envelope fa-fw"></i> Message Sent
                        <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-tasks fa-fw"></i> New Task
                        <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-upload fa-fw"></i> Server Rebooted
                        <span class="pull-right text-muted small">4 minutes ago</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="text-center" href="#">
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="{% url 'userprofile:viewprofile' username %}"><i class="fa fa-user fa-fw"></i> User Profile</a>
            </li>
            <li><a href="{% url 'userprofile:setprofile' username %}"><i class="fa fa-gear fa-fw"></i> Settings</a>
            </li>
            <li class="divider"></li>
            <li><a href="{% url 'index:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->



<header class="motopress-wrapper header">
    <div class="container">
        <div class="row">
            <div class="span12" data-motopress-wrapper-file="wrapper/wrapper-header.php" data-motopress-wrapper-type="header">
                <div class="stuck_wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="span5" data-motopress-type="static" data-motopress-static-file="static/static-logo.php">
                                <div class="logo pull-left">
                                  <img src="{% static 'pic/log.png'%}" alt="NISS LOGO" style="margin-top:-10px;height:60px;width:60px;" >
                                </div>
                            </div>
                            <!-- Logout -->
                              <div class="span7" data-motopress-type="static" data-motopress-static-file="static/static-nav.php">
                                <div class="login-wrap">
                                    <div class="login-toggle icon-user"></div>
                                   
                                    <div  id="loginform" >
                              
                                          <div class ="custome_margin" style="margin-bottom:10px"><a class="btn btn-sucess btn-sm btn-block" href="{% url 'userprofile:viewprofile' username %}">Profile</a><br></div>
                                            <div class ="custome_margin" style="margin-bottom:10px"><a class="btn btn-sucess btn-sm btn-block" href="{% url 'index:register' %}">Favoriate</a><br></div>
                                            <div class ="custome_margin" style="margin-bottom:10px"><a class="btn btn-sucess btn-block" href="{% url 'userprofile:setprofile' username %}">Settings</a><br></div>
                                       <div class ="custome_margin" style="margin-bottom:10px"> <a class="btn btn-sucess btn-block" href="{% url 'index:logout' %}">Lougout</a></div>
                                    
                                    </div>
                                
                                </div>
                                <nav class="nav nav__primary clearfix">
                                    <ul id="topnav" class="sf-menu">
                                        <li id="menu-item-1807" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-203 current_page_item">
                                            <a href="{%url 'secure:index' username %}">Home</a>
                                        </li>
                                        <li id="menu-item-1810" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                            <a href="{% url 'basic_search:index' username %}">Search</a>
                                        </li>
                                        <li id="menu-item-1808" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children"><a href="#">Patient Data<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                                            <ul class="sub-menu">
                                                <li id="menu-item-1815" class="menu-item menu-item-type-post_type menu-item-object-page">
                                                    <a href="{% url 'patientinfo:index' username %}">Patient info</a>
                                                </li>
                                                <li id="menu-item-1814" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                                <a href="{% url 'patientinfo:index_data' username %}">Patient data</a></li>
                                                </li>
                                                <li id="menu-item-1813" class="menu-item menu-item-type-post_type menu-item-object-page">
                                                   <li><a href="{% url 'patientinfo:index_manage' username %}">Managing patient </a></li>
                                                </li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-1804" class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="#">Blast+<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
                                            <ul class="sub-menu">
                                                <li id="menu-item-1815" class="menu-item menu-item-type-post_type menu-item-object-page">
                                                    <a href="{% url 'nocoblast:blastn' username %}">Blast N</a>
                                                </li>
                                                <li id="menu-item-1814" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
                                                <a href="{% url 'nocoblast:tblastn' username %}">T Blast N</a></li>
                                            </ul>
                                        </li>
                                        <li id="menu-item-1804" class="menu-item menu-item-type-post_type menu-item-object-page">
                                            <a href="{% url 'phylo:index' username %}">Phylib</a>

<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="{% url 'secure:index' username %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>

            <!-- Parient Info -->
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Patient Information<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'patientinfo:index'  username %}">General</a>
                    </li>
                    <li>
                        <a href="#">Your Patients</a>
                    </li>
                    <li>
                        <a href="{% url 'patientinfo:create' username %}">Add Patient</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>

            <!--  -->
            <li>
                <a href="{% url 'basic_search:index' username %}"><i class="fa fa-table fa-fw"></i> Search Database </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> BLAST <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'nocoblast:tblastn' username %}">tBLASTn</a>
                    </li>
                    <li>
                        <a href="{% url 'nocoblast:blastn' username %}">BLASTn</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="{% url 'phylo:index' username %}"><i class="fa fa-edit fa-fw"></i> PhyloTree </a>
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
