{% extends "secure/base.html" %}
{% load staticfiles %}

{% block css %}
    <link href="{%  static "nocoblast/style.css" %}" rel="stylesheet"/>
{% endblock %}

{% block maincontent  %}

{% load extras %}

<table style="width:80%; margin:0 auto;" cellpadding="5px">
    <tr>
        <td align="center"><h2> Nocosomial Surveillance BLAST: Basic Local Alignment Search Tool </h2></td>
    </tr>
    <tr>
        <td>
            <div>
                <button type="button" id="loadSampleData" data-loading-text="Loading..." autocomplete="off">
                    Use sample sequence
                </button>

                <script>
                    $('#loadSampleData').on('click', function () {
                        var $btn = $(this).button('loading');

                        id_sequence_in_form.value = '{{ sequence_sample_in_fasta|escapejs }}';

                        $btn.button('reset');
                    });
                </script>
            </div>
        </td>
    </tr>
    <tr>
        <td>

            <div>
                {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    Please correct errors: {{form.errors}}
                </div>
                {% endif %}
                <form action="" method="post" size="100">
                    {% csrf_token %}
                    <p>{{form.sequence_in_form}}</p>

                    <p><strong>Database:</strong> {{form.blast_nucl_in_form}}</p>

                    <p><strong>E-value:</strong> {{form.evalue_in_form}}</p>

                    <p>{{form.matrix_in_form.label}} {{form.matrix_in_form}}</p>

                    <p><strong>Word size:</strong> {{form.word_size_in_form}}</p>

                    <p><strong>Sensitivity:</strong> {{form.search_sensitivity_in_form}}</p>
                    <input type="submit" value="Search">
                </form>
            </div>
        </td>
    </tr>


</table>

{% endblock %}


