{% extends "public/base.html" %}
{% load staticfiles %}
{% block maincontent %}

<style>
p{
font-size: 15px;
line-height: 2;
text-decoration: none;
}
li {
	
	font-size: 15px;
	text-decoration: none;
line-height: 2;
}
h2 {
	font-size: 28px;
	line-height: 3;

}
</style>

<div class="motopress-wrapper content-holder clearfix">
	<div class="container">
		<div class="margin" style="margin-bottom: 350px;">
			<h2>NOSOCOMIAL INFECTION SURVEILLANCE SYSTEM</h2>

			<p>Nosocomial infections are infections which are acquired in hospitals and other different healthcare facilities. According to the Centers for Disease Control and Prevention, in United States of America, about 1.7 million cases of such infections are reported every year, which prove to be fatal for about 99,000 deaths. Across the border, in Canada, about $1 billion is spent annually for treating these infections. An estimated 30% of nosocomial infections are preventable as per the Canadian Committee on Antibiotic Resistance. A total of five solutions have been talked about:</p>

			<p>More healthcare cleaning and infection control staff, with proper training and continuity.
			More rigorous cleaning and proper supplies
			Stop and reverse contracting-out
			Reduce occupancy rates
			Mandatory standards, monitoring and public reporting
			Here we present, NOSOCOMIAL INFECTION SURVEILLANCE SYSTEM which can be used as a detector tool and as an additional monitoring layer for reporting and predictive diagnosis of the nosocomial infections.</p>

			<p>This suite can be used for various purposes, by the doctors, researchers and patients for a wide range of applications, including:</p>

			<li>Patient Information Management</li>
			<li>Read in the patient sequence data</li>
			<li>BLAST (Basic Local Alignment Search Tool) for finding strains which match the patient sequence.</li>
			<li>PHYLIP-TreeBuilder for finding the closest genetic relatives of the input sequence, builds up evolutionary relationship trees.</li>
			<li>TreeViewer- Visualize these evolutionary relationship trees, in different forms and analyze with all possible options.</li>
			<li>DataReporter- Visualize the sequence meta-data.</li>
			<li>Patient Result Viewer</li>
		</div>
	</div>
</div>



{% endblock %}