{% extends "public/base.html" %}
{% load staticfiles %}
{% block maincontent %}

<!-- Please run python manage.py migrate becasue it has model -->
<div class="container">
	<section class="title-section">
	<h2> Contact US </h2>
	<ul class="breadcrumb breadcrumb__t">
		<li><a href="{% url 'index:index' %}">Home</a></li>
		<li class="divider"></li>
		<li class="active">Contact Us</li>
	</ul>
	</p><address>
	<strong>8888 University Drive<br>
	Burnaby, B.C.<br>
	Canada. V5A 1S6</strong><br>
	Switchboard: +1 778.782.3111<br>
	Student Services: 778.782.6930<br>
	E-mail: <a href="mailto:sfucmpt470group09@gmail.com">sfucmpt470group09@gmail.com<script cf-hash="f9e31" type="text/javascript">
	/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></a><br>
	</address> 

	<div class="container" style="margin-bottom: 200px;">
	<form name="myform" action ="{% url 'index:contact_us' %}" method="POST"> {% csrf_token %}
		<p>
			<input id="name" style="width:31%;margin-right:30px;" name="name"  type="text" placeholder="Name" required/>
			<input id="email" name="email" style="width:31%; margin-right:15px;" type="email" placeholder="Email" required/>
			<input id="phone" name="phone"  style="width:31%;margin-left:15px;" type="text" placeholder="Phone" required/>
		</p>
		<p><textarea id="message" name="message" type="text" placeholder="Message" required></textarea></p>
		<p><input class="btn btn-success btn-sm"  type= "submit"  value="Submit" name="submit" /></p>
	</form>
	</div>
	</div>

{% endblock %}


