{% extends "public/base.html" %}
{% load staticfiles %}
{% block maincontent %}

<style>
p{
font-size: 15px;
line-height: 2;
text-decoration: none;
}
li {
	
	font-size: 15px;
	text-decoration: none;
line-height: 2;
}
h2 {
	font-size: 28px;
	line-height: 3;

}
</style>

<div class="motopress-wrapper content-holder clearfix">
	<div class="container">
		<div class="margin" style="margin-bottom: 800px;">
			<h2>National Center for Biotechnology Information Database Search (temporary section)</h2>

		</div>
	</div>
</div>



{% endblock %}