{% extends "public/base.html" %}

{% block maincontent%}
  <div class="container">
    <form  method="post" action="{% url 'index:verifycredentials' %}">
        {% csrf_token %}
        <fieldset style="margin-bottom:600px;" >

        <!-- Form Name -->
        <legend>Login:</legend>

        <!-- Text input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="username">Username</label>
          <div class="col-md-4">
          <input id="username" name="username" type="text" placeholder="Username" class="form-control input-md" required="">
          <span class="help-block">* Your username. </span>
          </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
          <label class="col-md-4 control-label" for="password">Password</label>
          <div class="col-md-4">
            <input id="password" name="password" type="password" placeholder="Password" class="form-control input-md" required="">
            <span class="help-block">* enter in the password the administrator has provided. </span>
          </div>
        </div>

        <!-- Button -->
        <div class="form-group">
          <label class="col-md-4 control-label" for="submit"></label>
          <div class="col-md-4">
            <input type="submit" name="submit" value="Login" class="btn btn-primary"/>
          </div>
        </div>

        <!-- Added by palmer -->
        <a href="{% url 'index:register' %}">Register an account!</a>

        </fieldset>
    </form>
  </div>
{% endblock %}

