{% extends "public/base.html" %}
  
  {% block maincontent %}
  <style>
p{
font-size: 15px;
line-height: 2;
text-decoration: none;
}
li {
	
	font-size: 15px;
	text-decoration: none;
line-height: 2;
}
h1,h2 {
	font-size: 28px;
	line-height: 2;

}
</style>
<script type="text/javascript">
<!--//
function alert2()
{
alert ("Don't forget the curly "+
"brackets - \nThey are essential!");
}
//-->
</script>
<div class="motopress-wrapper content-holder clearfix">
	<div class="container">
		<div class="margin" style="margin-bottom: 800px;">
			<h2>Project Poster should go here</h2>

		</div>
	</div>
</div>

{% endblock %}