{% extends "public/base.html" %}

{% block maincontent%}
	<div class="container">
		<legend style="margin-left:200px; margin-top:30px;margin-bottom:50px;"> Register</legend>
		<form style="margin-bottom:300px;margin-left:200px;" action="{% url 'index:register' %}"  method="post"> {% csrf_token %}
		{{form.as_ul}}
		<input style="margin-top:10px;" class="btn btn-success" type="submit" value="Register" />
		<a href="{% url 'index:index' %}"><input style="margin-top:10px; padding: 0.5em 1.5em 0.4em 1.5em;" type="button" class="btn btn-success" value="Cancel"></a>
		</form>
	</div>
{% endblock %}

